{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Chefs - Foodfy</title> {% endblock %}

{% block create %}
    <a href="/chefs/create" id="create_button" class="submit_button">
    Criar Chef
     <i class="material-icons">add</i>
    </a>
{% endblock %}

{% block content %}

    <h1>Gerenciar chefs</h1>

    <article class="items_list chefs_list">

        {% for chef in chefs %}

            <div class="list_chef_item">

                <div class="item_img chef-list_img" style="background-image: url('{{ chef.avatar }}')"></div>

                <div class="item_content">

                    <p>{{ chef.name }}</p>

                    <span>{{ chef.total_recipes }} Receitas</span>

                    <a href="/chefs/{{ chef.id }}" class="buttons">Visualizar</a>

                </div>

            </div>

        {% endfor %}

    </article>

{% endblock %}