{% extends 'admin/layout_admin.njk' %}
{% import "partinals/section-chefs.njk" as chefs_list %}

{% block title %} <title>Chefs - Foodfy</title> {% endblock %}

{% block create %}

    <a href="/chefs/create" id="create_button" class="submit_button">
    Criar Chef
     <i class="material-icons">add</i>
    </a>

{% endblock %}

{% block content %}

    {{ chefs_list.chefs("Gerenciar chefs", "/chefs", chefs) }}

{% endblock %}