{% extends 'admin/layout_admin.njk' %}

{% block title %}<title>Novo Chef - Foodfy</title>{% endblock %}

{% block content %}

    <h1>Criando chef</h1>

    <form action="/chefs" method="post" enctype="multipart/form-data">

        <button type="submit">Salvar chef</button>

        {% include 'admin/chefs/fields.njk' %}

    </form>

{% endblock %}