{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>{{ chef.name }} - Edição</title> {% endblock %}

{% set page_redirect = "chefs" %}
{% set modal_text = "Esse chef não existe!" %}

{% if text %}

    {% set modal_text = "Chefs que possuem receitas não podem ser deletados!" %}

{% endif %}

{% block content %}

    <h1>Editar: {{ chef.name }}</h1>

    <form action="/chefs?_method=delete" id="delete" method="post">
    
        <input type="hidden" name="id" value={{ chef.id }} />
        <input type="hidden" name="total_recipes" value={{ chef.total_recipes }} />

        <button type="submit" id="delete_button">Deletar</button>
    
    </form>

    <form action="/chefs?_method=put" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id" value={{ chef.id }} />

        <button type="submit">Salvar chef</button>

        {% include 'admin/chefs/fields.njk' %}
    
    </form>

    <script>
    
        //Delete verify
        const formDelete = document.querySelector("#delete")

        formDelete.addEventListener("submit", function (event) {
            const comfirm = confirm("Deseja mesmo apagar essa receita?")

            if (!comfirm) {
                event.preventDefault()
            }
        })
    
    </script>

{% endblock %}
    
