{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>{{ chef.name }} - Edição</title> {% endblock %}

{% set page_redirect = "chefs" %}
{% set modal_text = "Esse chef não existe!" %}

{% if text %}

    {% set modal_text = "Chefs que possuem receitas não podem ser deletados!" %}

{% endif %}

{% block content %}

    <div class="form_header">

        <h1>Editar: {{ chef.name }}</h1>

        <div class="form_action_buttons">

            <button type="submit" id="delete_button" form="delete_chef_form" class="submit_button">Deletar</button>

            <button type="submit" form="edit_chef_form" class="submit_button">Salvar chef</button>

        </div>

    </div>

    <form 
        action="/chefs?_method=delete" 
        id="delete_chef_form" 
        method="post"
        onsubmit="deleteComfirm(event, 'delete_chef_form', 'esse Chef')"
    >
    
        <input type="hidden" name="id" value={{ chef.id }} />
        <input type="hidden" name="total_recipes" value={{ chef.total_recipes }} />
    
    </form>

    <form action="/chefs?_method=put" method="post" enctype="multipart/form-data" id="edit_chef_form">

        <input type="hidden" name="id" value={{ chef.id }} />

        {% include 'admin/chefs/fields.njk' %}
    
    </form>

{% endblock %}
    
