<article class="field_item">
    
    <h2>Nome</h2>

    <input name="name" value="{{ chef.name }}" placeholder="Nome e Sobrenome" />

</article>

<article class="field_item">
    
    <h2>Imagem da receita</h2>

    <input name="avatar_url" value="{{ chef.avatar_url }}" placeholder="http://" />

</article>