{% extends 'admin/layout_admin.njk' %}

{% block title %}<title>Foodfy - {{ chef.name }}</title>{% endblock %}

{% set page_redirect = "chefs" %}
{% set modal_text = "Esse chef não existe!" %}

{% block content %}

    <div class="admin_header">

        <h1>Chef: {{ chef.name }}</h1>

        <a href="/chefs/{{ chef.id }}/edit" class="edit_create">Editar Chef</a>

    </div>

    <section class="chef_data">
    
    <img class="chef_img" src="{{ avatar.src }}" />

    <h1>{{ chef.name }}</h1>

    <p>{{ chef.total_recipes }} receitas</p>
    
    </section>

    <h2 class="chef_title">Receitas</h2>

    <article class="chef_recipes items_list">

        {% for recipe in recipes %}
    
        <div class="list_item">
        
            <div class="item_img" style="background-image: url('{{ recipe.img }}')"></div>

            <div class="item_info">
            
                <h3>{{ recipe.title }}</h3>

                <p>por {{ chef.name }}</p>

                <a href="/recipes/{{ recipe.id }}" class="buttons" id="view">Visualizar</a>
            
            </div>
        
        </div>

        {% endfor %}

    </article>

    <footer class="created_at">

        <p>Chef {{ chef.name }} desde {{ chef.created_at }}</p>

    </footer>

{% endblock %}

{% block modal %}
    
    {% if err %}

        {% include 'admin/modal.njk' %}

    {% endif %}

{% endblock %}