<div class="field_item">
        
    <h2>Nome</h2>

    <input name="name" value="{{ user.name }}" placeholder="Digite o nome completo" />

</div>
{{ error }}
<div class="field_item">
        
    <h2>Email</h2>

    <input name="email" value="{{ user.email }}" placeholder="Digite o email" />

</div>