{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>{{ user.name }} - Foodfy</title> {% endblock %}

{% block content %}

    <div class="users_header form_header">

        <h1>Bem vindo {{ user.name }}</h1>

        <button type="submit" form="users_form" class="submit_button">Salvar</button>

    </div>

    <section class="users_form_container">

        <form action="/admin/profile?_method=put" method="POST" id="users_form">
        
            <fieldset class="fields">

                <div class="create_header">

                    {% include 'admin/users/fields.njk' %}

                    <div class="field_item">
                
                        <h2>Senha</h2>

                        <input type="password" name="password" placeholder="Digite a senha" />

                    </div>

                </div>
                
            </fieldset>
                
        </form>

    </section>

    <h2 class="chef_title">Suas Receitas</h2>

    <article class="chef_recipes items_list">

        {% for recipe in recipes %}
    
        <div class="list_item">
        
            <div class="item_img" style="background-image: url('{{ recipe.img }}')"></div>

            <div class="item_info">
            
                <h3>{{ recipe.title }}</h3>

                <a href="/recipes/{{ recipe.id }}" class="buttons" id="view">Visualizar</a>
            
            </div>
        
        </div>

        {% endfor %}

    </article>

{% endblock %}