{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Usuários - Foodfy</title> {% endblock %}

{% block content %}

    <div class="form_header users_list_header">

        <h1>Usuários</h1>

        <a href="/admin/users/register" class="submit_button">Novo</a>

    </div>

    <article class="items_list users_list">

        {% for user in users %}

            <div class="users_list_item">
        
                <div class="item_info">
                
                    <h3>{{ user.name }}</h3>

                    <p>{{ user.email }}</p>

                    <div class="users_list_actions_buttons">

                        {% if userCredentials.loggedUserId == user.id %}

                            <a href="/admin/profile" class="buttons">Editar</a>

                        {% else %}

                            <a href="/admin/{{ user.id }}/update" class="buttons">Editar</a>

                        {% endif %}

                        <form 
                            action="/admin/users?_method=delete" 
                            method="post"
                            id="delete_user_button"
                            onsubmit="deleteComfirm(event, 'delete_user_button', 'esse Usuário')"
                        >

                            <button type="submit" class="buttons">Remover</button>

                            <input type="hidden" name="id" value={{ user.id }}>

                        </form>

                    </div>
                
                </div>
            
            </div>
            
        {% endfor %}

    </article>

{% endblock %}