@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    width: 940px;
    margin: 0 auto;

    padding: 36px 1px;
}

header img {
    margin-bottom: -6px;
}

.links {
    display: inline-block;

    margin-left: 122.4px;
}

.links a {
    margin: 0 30px;

    font-size: 16px;
    line-height: 19px;
    color: #111111;
    text-decoration: none;
    padding: 5px;
}

.links #home {
    color: rgb(255, 40, 40);
    font-weight: bold;
}

.links a:hover {
    filter: brightness(95%);
    background-color: rgba(167, 167, 167, 0.13);
    border-radius: 30px;

    color: rgba(0, 0, 0, 0.57);

    transition: 550ms;
}

#container {
    display: flex;
    height: 366px;
    max-width: 940px;
    margin: 0 auto 50px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
    background-color: #FBDFDB;

    border-radius: 30px;
}

#container_content {
    width: 316px;
    height: 132px;

    margin: 117px 248px 117px 60px;
}

#container_content h1 {
    font-size: 32px;
    color: #111111;
    text-shadow: 1px 0 1px black;
    font-weight: bold;

    line-height: 38px;
    margin-bottom: 10px;
}

#container_content p {
    font-size: 18px;
    color: #000000;
    opacity: .7;

    line-height: 28px;
}

#container_img {
   margin-top: 66px;
}

#popular {
    margin: 0 auto 20px;
    width: 929px;
}

#popular h2 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);

    line-height: 28px;
}

.recipes {
    max-width: 940px;
    max-height: 100%;

    margin: 0 auto 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes_just {
    max-width: 940px;
    max-height: 100%;

    margin: 20px auto 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe {
    max-width: 300px;
    max-height: 202px;

    padding: 4px;
}

.recipe:hover {
    filter: brightness(95%);
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;

    cursor: pointer;

    transition: 500ms;
}

.recipe_img img:hover {
    filter: brightness(70%);
    transition: 350ms;
}

.recipe_img img {
    width: 100%;
    margin-bottom: 20px;

    border-radius: 15px;
}

.recipe_desc h3 {
    color: #111111;
    size: 18px;
    font-weight: normal;
    
    line-height: 21px;
    margin-bottom: 5px;
}

.recipe_desc p {
    color: #777777;
    font-size: 14px;

    line-height: 16px;
    margin-left: 15px;
}

.rights {
    text-align: center;
    padding: 23px 0;
    
    width: 100%;

    background-color: #EEEEEE;
}

.rights p {
    font-size: 14px;
    color: #999999;

    line-height: 16px;
}

            /*ABOUT*/

.about_begin {
    max-width: 940px;
    max-height: 328px;

    margin: 0 auto;
}

#wrapper_main h1 {
    margin-top: 26px;
    padding-bottom: 20px;
    line-height: 28px;

    color: #111111;
    font-size: 24px;
}

.main_text {
    max-width: 940px;
    max-height: 280px;
}

.main_text p{
    margin-bottom: 30px;
    line-height: 28px;

    color: #444444;
    font-size: 18px;
}

#wrapper_sec h2 {
    font-size: 20px;

    margin-top: 26px;
    margin-bottom: 20px;
    padding-bottom: 1px;
    line-height: 24px;
}

#right_abo {
    max-width: 940px;
    max-height: 156px;

    margin: 0 auto 50px;
}

#wrapper_thi h2 {
    font-size: 20px;
    color: #111111;
    
    margin-top: 26px;
    padding-bottom: 1px;
    line-height: 24px;
}

            /*MODAL*/

.modal_full {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .6);

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;

    width: 44.478%;
    height: 353px;

    margin: 17vh auto;
    padding: 30px;
    text-align: center;

    background-color: #FFFFFF;
    border-radius: 16px;
}

.modal img {
    width: 100%;
    height: 200px;

    border-radius: 15px;

    margin-bottom: 20px;

    position: relative;
}

.modal_img {
    position: relative;
}

.modal_content h3 {
     font-size: 24px;
     color: #111111;
     font-weight: normal;

     line-height: 28px;
     margin-bottom: 5px;
}

.modal_content p {
    font-size: 18px;
    color: #777777;

    line-height: 21px;
    margin-bottom: 60px;
}

/*CLOSE MODAL*/

.close_modal {
    font-size: 16px;
    color: rgb(255, 40, 40);
    font-weight: bold;

    max-width: 120px;
    max-height: 19px;

    line-height: 19px;
    margin: 0 auto;
    padding: 1px;
}

.close_modal:hover {
    cursor: pointer;
    
    filter: brightness(95%);
    background-color: rgba(167, 167, 167, 0.4);
    border-radius: 30px;
    color: rgb(255, 16, 16);

    transition: 550ms;
}

/*EXPAND MODAL

.modal.none {
    display: none;
}

.expand_modal {
    color: white;

    position: absolute;
    bottom: 4vh;
    right: 1vh;

    padding: 5px 5px 1px;
    border-radius: 50%;
    cursor: pointer;
}

.expand_modal:hover {
    color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.39);

    transition: 300ms;
}

.maximized {
    visibility: hidden;
    opacity: 0;
}

.maximized.active {
    position: absolute;
    top: 10vh;
    right: 12vh;

    width: 90%;
    height: 80%;

    visibility: visible;
    opacity: 1;
}

.maximized.active .expand_modal{
    bottom: 1vh;
}

.maximized.active img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
}*/

/*MODAL JS*/

.modal_full.active {
    opacity: 1;
    visibility: visible;
}

.modal_content {
    display: none;
}

.modal_content.active {
    display: initial;
}