{% extends "layout.njk" %}

{% block title %}<title>Detalhes receita</title>{% endblock %}

{% block content %}

    <article class="recipe" id="{{recipe.title}}">

        <div class="recipe_img">

            <img src="{{recipe.image}}" alt="Triplo bacon burger">

        </div>

        <div class="recipe_desc">

            <h3>{{recipe.title}}</h3>

            <p>{{recipe.author}}</p>

        </div>

    </article>


{% endblock %}