{% extends 'users/layout_users.njk' %}
{% import 'partinals/chef-details.njk' as chef_details_container %}

{% block title %}<title>Foodfy - {{ chef.name }}</title>{% endblock %}

{% set page_redirect = "chefs" %}
{% set modal_text = "Esse chef não existe!" %}

{% block content %}

{{ chef_details_container.chef_details(false, avatar, recipes, "recipeDetails", chef) }}

{% endblock %}

{% block modal %}
    
    {% if err %}

        {% include 'admin/modal.njk' %}

    {% endif %}

{% endblock %}