{% extends "users/layout_users.njk" %}

{% block title %}<title>Detalhes receita</title>{% endblock %}

{% block content %}
    <section class="details">

        <article class="detail_image" style="background: url({{ recipe.image }}/940x280) no-repeat center center / cover"></article>

        <article class="detail_desc">

            <h1>{{recipe.title}}</h1>

            <p>{{recipe.chef_name}}</p>

        </article>

        <article class="detail_make">
        
            <div class="make_title">
            
                <h1>Ingredientes</h1><p class="hide" id="hide1">ESCONDER</p>
            
            </div>

            <div class="make" id="hide1">
            
                <ul>

                    {% for ingredient in recipe.ingredients %}
                
                        <li> {{ingredient}} </li>

                    {% endfor %}

                </ul>
            
            </div>
        
        </article>

        <article class="detail_make">
        
            <div class="make_title">
            
                <h1>Modo de preparo</h1><p class="hide" id="hide2">ESCONDER</p>
            
            </div>

            <div class="make" id="hide2">
            
                <ul>

                    {% for step in recipe.preparation %}
        
                        <li> {{step}} </li>

                    {% endfor %}

                </ul>
            
            </div>
        
        </article>

        <article class="add_info" id="info_foo">
        
            <div class="make_title">
            
                <h1>Informações adicionais</h1><p class="hide" id="hide3">ESCONDER</p>
            
            </div>

            <div class="make" id="hide3">
            
                <p>{{recipe.information}}</p>
            
            </div>
        
        </article>

    </section>

{% endblock %}