{% extends "users/layout_users.njk" %}

    {% block title %}<title>Home Foodfy</title>{% endblock %}

    {% block content %}

        <section id="container">
            
            <article id="container_content">
                
                <h1>As melhores receitas</h1>

                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>

            </article>
            
        </section>

        <div>
            <h2>Mais acessadas</h2>
        </div>

        <section class="recipes">

            {% for recipe in recipes %}

                <article class="recipe" 
                    onclick="IndexRedirectRecipeDetailsByClick.redirectToDetails({{ recipe.id }})"
                >

                    <div class="recipe_img" style="background-image: url('{{recipe.img}}')"></div>

                    <div class="recipe_desc">

                        <h3>{{recipe.title}}</h3>

                        <p>por {{recipe.chef_name}}</p>

                    </div>

                </article>

            {% endfor %}

        </section>

    {% endblock %}