<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}<title>Foodfy</title>{% endblock %}

        {% include 'users/parts/styles.njk' %}
        {% include 'partinals/global_styles.njk' %}

    </head>

    <body onload="activedMenuItem.catchMenuItemToActive()">

        <div class="full_page">
            
            {% include 'users/parts/header.njk' %}

            <section class="page_content">

                {% block content %} {% endblock %}

            </section>


            {% include 'users/parts/footer.njk' %}

        </div>

        {% include 'partinals/messages.njk' %}
        
   </body>

    <script src="/scripts.js"></script>

</html>