{% extends "users/layout_users.njk" %}
{% import  "users/parts/section-recipes.njk" as recipes_list %}

    {% block title %}<title>Receitas Foodfy</title>{% endblock %}

{% block content %}
   
    {{ recipes_list.recipes(search, "recipes_just", recipes, "recipes_list") }}

{% endblock %}