<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página não encontrada</title>

        {% include 'admin/parts/styles.njk' %}
        {% include 'partinals/global_styles.njk' %}

    </head>

    <body>
        
        <section class="modal not-found">

            <div class="content">

                <h1>Ahh não!! Página não encontrada 😭</h1>

                <p>Tente outra que agente acha para vc ;)</p>

                <div class="modal_buttons">

                    <a href="/">Voltar ao início</a>

                </div>

            </div>

        </section>

    </body>

</html>