<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block title %}<title>Foodfy</title>{% endblock %}

        {% include 'admin/parts/styles.njk' %}
        {% include 'partinals/global_styles.njk' %}

    </head>

    <body onload="activedMenuItem.catchMenuItemToActive()">

        <header class="header_admin">

            {% include "admin/parts/header.njk" %} 

            {% block create %}
            
                <form action="/logout" method="post" class="logout_form">
                
                    <button type="submit">Sair</button>

                </form>
            
            {% endblock %}

        </header>

        <div class="full_page">

            <section class="page_content">

                {% block content %}{% endblock %}

            </section>

            {% include 'admin/parts/modal.njk' %}

        </div>

    </body>

    <script src="/scripts.js"></script>

</html>