<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

         {% block title %}<title>Foodfy</title>{% endblock %}

        <link rel="stylesheet" href="/styles.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

        <header class="header_admin">

            <div class="header_content">

                <nav>
                    <img src="/assets/logo_white.png" alt="Foodfy Logo">

                    <a href="/">Loob</a>
                    <a href="/recipes/recipe_manager">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </nav>

                {% block create %}{% endblock %}

            </div>

        </header>

        <section class="recipe_content">

            {% block content %} {% endblock %}

        </section>

    </body>

    <script src="/scripts.js"></script>

</html>