<section class="modal">

    <div class="content">

        <h1>Erro ao efetuar Ação!</h1>

        <p>{{ modal_text }}</p>

        <div class="modal_buttons">

            <a href="/">Voltar ao início</a>
            <a href="/{{ page_redirect }}">Entendi!</a>

        </div>

    </div>

</section>