<div class="header_content">

    <nav>

        <a href="/">

            <img src="/assets/logo_white.png" alt="Foodfy Logo">

        </a>

        <div class="header_content_links">

            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
            <a href="/login">Usuários</a>

        </div>

    </nav>
</div>