<div class="header_content">

    <nav>

        <a href="/">

            <img src="/assets/logo_white.png" alt="Foodfy Logo">

        </a>

        <div class="header_content_links">

            {% if userCredentials.loggedUserId %}

                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
                
            {% endif %}

            {% if userCredentials.isAdmin == true %}

                <a href="/login">Usuários</a>

            {% else %}

                <a href="/admin/profile">Minha conta</a>

            {% endif %}

        </div>

    </nav>
</div>