<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/admin_styles/modal.css">
<link rel="stylesheet" href="/styles/admin_styles/global.css">
<link rel="stylesheet" href="/styles/admin_styles/forms.css">
<link rel="stylesheet" href="/styles/admin_styles/details.css">
<link rel="stylesheet" href="/styles/admin_styles/list.css">
<link rel="stylesheet" href="/styles/users_styles/details.css">