:root {
    --prymary-color: #ff553b;
    --button-color: #6558C3;
    --title-color: #111111;
    --delete-color: #DC4747;
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;

    box-sizing: border-box;

    width: 100%;
}

header {
    width: 96%;
    max-width: 940px;

    margin: 0 auto;
    padding: 36px 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full_page {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

.page_content {
    width: 90%;
    min-height: 100%;
    max-width: 940px;

    display: flex;
    flex-direction: column;
    
    position: relative;
}

.page_content h1 {
    margin-bottom: 30px;
    line-height: 28px;
    color: var(--title-color);
}

input,
select,
textarea {
    outline-color: var(--button-color);
    font-family: 'Roboto', sans-serif;
}

/* BUTTONS */

button {
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

.submit_button {
    max-width: 230px;

    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    background-color: var(--button-color);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    text-align: center;

    line-height: 19px;
    padding: 9px 20px;
}

.submit_button:hover {
    filter: brightness(90%);
    transition: 250ms;
}

/* NOT FOUND PAGE */

.modal.not-found .content {
    width: 50%;
    min-height: 340px;
}

.modal.not-found .content .modal_buttons {
    justify-content: center;
}