@media (max-width: 1000px) {
    
    header.header_admin {
        padding-right: 40px;
    }

    .page_content .users_list {
        grid-template-columns: 1fr 1fr;
    }

    .full_page .messages {
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        max-width: 700px;
        height: 100px;
    }
}

@media (max-width: 750px) {

    header form input {
        max-width: 146px;

        margin-right: 3px;
    }

    header form button.submit_button[type="submit"] {
        font-size: .01px;

        width: 36px;
        height: 36px;

        padding: 0;

        background-color: var(--button-color);
        border-radius: 4px;

        background-image: url(/assets/search_24px.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px 20px;

    }
}

@media (max-width: 680px) {
    #container_content {
        width: 54%;
    }
}

@media (max-width: 640px) {
    header > a.home_logo img {
        width: 0;
    }
}

@media (max-width: 666px) {
    .list_item {
        display: initial;
    }

    .list_item .item_img {
        width: 100%;
        height: 100px;

        margin-bottom: 8px;
    }
}

@media (max-width: 641px) {

    #container {
        padding: 32px;
    }
    
    #container_content {
        width: 42%;
    }
    
    #container_content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #container_content p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 622px) {
    .recipes, .recipes_just {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .links a {
        margin-right: 16px;
    }

    .links .home {
        padding: 5px 10px;
        font-size: 14px;
    }

    .header_admin #create_button {
        font-size: 0.01px;
        width: 36px;
        height: 36px;

        padding: 4px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_admin #create_button i {
        display: initial;
    }

    .page_content .users_list {
        grid-template-columns: 1fr;
        row-gap: 80px;
    }
}

@media (max-width: 870px) {

    .chefs_list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav.links a:first-child {
        display: none;
    }

}

@media (max-width: 695px) {

    .chefs_list {
        grid-template-columns: 1fr 1fr;
    }

}