<script>

//AddItemToList
function addIngredient() {
    const ingredients = document.querySelector("#ingredients")
    const fieldContainer = document.querySelectorAll(".ingredient")
    const totalFields = ingredients.querySelectorAll('input')

    {# const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true) #}
    const newFieldArea = document.createElement("div")
    let newField = document.createElement("input")
    newFieldArea.appendChild(newField)

    if(totalFields[totalFields.length - 1].value == "") return false

    newField.name="ingredients[]"
    newField.value=""
    newField.placeholder="Ingrediente"

    ingredients.appendChild(newField);
}

    document.querySelector(".buttons_ingredient").addEventListener("click", addIngredient)

function addStep() {
    const steps = document.querySelector("#steps")
    const fieldContainer = document.querySelectorAll(".step")

    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true)

    if (newField.children[0].value == "") return false;

    newField.children[0].value = "";
    steps.appendChild(newField);
}

    document.querySelector(".buttons_make").addEventListener("click", addStep)

</script>