{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Nova Receita - Foodfy</title> {% endblock %}

{% block content %}

    <h1 class="form_header">Criando receita</h1>

    <form action="/recipes" method="post">

    <button type="submit">Salvar receita</button>
    
    {% include 'admin/recipes/fields.njk' %}

    {% include 'admin/recipes/add_item.njk' %}

{% endblock %}