{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Nova Receita - Foodfy</title> {% endblock %}

{% block content %}

    <div class="form_header">

        <h1>Criando receita</h1>

        <button type="submit" form="crete_recipe_form" class="submit_button">Salvar receita</button>
    </div>

    <form action="/recipes" method="post" enctype="multipart/form-data" id="crete_recipe_form">


        {% include 'admin/recipes/fields.njk' %}

    </form>

    {% include 'admin/recipes/add_item.njk' %}

{% endblock %}