{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Editar {{ recipe.title }}</title> {% endblock %}

{% block content %}

    <div class="form_header">

        <h1>Editando receita</h1>

        <div class="form_action_buttons">

            <button type="submit" id="delete_button" form="delete_recipe_form" class="submit_button">Deletar</button>

            <button type="submit" form="edit_recipe_form" class="submit_button">Salvar receita</button>
        
        </div>

    </div>


    <form 
        action="/recipes?_method=delete" 
        method="post" 
        id="delete_recipe_form"
        onsubmit="deleteComfirm(event, 'delete_recipe_form', 'essa Receita')"
    >
    
        <input type="hidden" name="id" value="{{ recipe.id }}">

    </form>

    <form action="/recipes?_method=put" method="post" enctype="multipart/form-data" id="edit_recipe_form">

        <input type="hidden" name="id" value="{{ recipe.id }}">

        {% include 'admin/recipes/fields.njk' %}

    </form>

    {% include 'admin/recipes/add_item.njk' %}

{% endblock %}

{% block modal %}
    
    {% if err %}

        {% include 'admin/modal.njk' %}

    {% endif %}

{% endblock %}