{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>Receitas - Foodfy</title> {% endblock %}
    
{% block create %} <a href="/recipes/create" class="edit_create">Criar Receita</a> {% endblock %}

{% block content %}

    <h1>Gerenciar receitas</h1>
    
    <article class="items_list">

        {% for recipe in recipes %}
    
            <div class="list_item">
            
                <div class="item_img" style="background-image: url('{{ recipe.img }}') "></div>

                <div class="item_info">
                
                    <h3>{{ recipe.title }}</h3>

                    <p>por {{ recipe.chef_name }}</p>

                    <a href="/recipes/{{ recipe.id }}" class="buttons">Visualizar</a>
                
                </div>
            
            </div>

        {% endfor %}
    
    </article>

{% endblock %}