{% extends 'admin/layout_admin.njk' %}

{% block title %} <title>{{ recipe.title }} - Foodfy</title> {% endblock title %}


{% block content %}

    <div class="admin_header">
    
        <h1 class="show_title">Receita: {{ recipe.title }}</h1>
    
        <a href="/recipes/{{ recipe.id }}/edit" class="edit_create">Editar receita</a>
    
    </div>

    <article class="details_header">
    
        <div class="details_img" style="background: url({{ recipe.image }}/940x280) no-repeat center center / cover"></div>

        <div class="details_chef">
        
            <h1>{{ recipe.title }}</h1>

            <p>por {{ recipe.chef_name }}</p>
        
        </div>
    
    </article>

    <article class="details_content">

        <article class="detail_make">
        
            <div class="make_title">
            
                <h1>Ingredientes</h1>
            
            </div>

            <div class="make">
            
                <ul>

                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}

                </ul>
            
            </div>
        
        </article>

        <article class="detail_make">
        
            <div class="make_title">
            
                <h1>Modo de preparo</h1>
            
            </div>

            <div class="make">
            
                <ul>

                    {% for step in recipe.preparation %}
                        <li>{{ step }}</li>
                    {% endfor %}

                </ul>
            
            </div>
        
        </article>

        <article class="add_info">
        
            <div class="make_title">
            
                <h1>Informações adicionais</h1>
            
            </div>

            <div class="make">
            
                <p>{{ recipe.information }}</p>
            
            </div>
        
        </article>

    
    </article>

{% endblock %}