{% extends 'chefs/layout_chefs.njk' %}

{% block title %} <title>Criando - Foodfy</title> {% endblock %}

{% block header %}

    <h1>Criando receita</h1>

    <form action="/admin" method="post">

    <button type="submit">Salvar receita</button>
    
{% endblock %}   

{% block content %}

    {% include 'chefs/fields.njk' %}

    {% include 'chefs/add_item.njk' %}

{% endblock %}