{% extends 'chefs/layout_chefs.njk' %}

{% block title %} <title>Editar - Foodfy</title> {% endblock %}

{% block header %}

    <h1>Editando receita</h1>

    <div class="form_edit_header">

        <form action="/admin?_method=delete" id="delete" method="post">
        
            <input type="hidden" name="index" value="{{ recipeIndex }}">

            <button type="submit" class="delete">Deletar</button>
        
        </form>

        <form action="/admin?_method=put" method="post">

            <input type="hidden" name="index" value="{{ recipeIndex }}">

            <button type="submit">Salvar receita</button>

    </div>
    
{% endblock %}   

{% block content %}

    {% include 'chefs/fields.njk' %}

    {% include 'chefs/edit_scripts.njk' %}

    <script>
    
        //Delete verify
        const formDelete = document.querySelector("#delete")

        formDelete.addEventListener("submit", function (event) {
            const comfirm = confirm("Deseja mesmo apagar essa receita?")

            if (!comfirm) {
                event.preventDefault()
            }
        })
    
    </script>

{% endblock %}

