<article class="field_item">
    
    <h2>Imagem da receita</h2>

    <input name="recipe_url" value="{{ recipe.recipe_url }}" placeholder="http://" />

</article>

<div class="create_header">

    <article class="field_item">
        
        <h2>Autor da receita</h2>

        <input name="author" value="{{ recipe.author }}" />

    </article>
    
    <article class="field_item">
        
        <h2>Título da receita</h2>

        <input name="title" value="{{ recipe.title }}" />

    </article>

</div>

<article class="field_item">

    <div id="ingredients">

        <h2>Ingredientes</h2>

        <div class="ingredient">
            <input name="recipe_ingredents[]" value="{{ recipe.recipe_ingredents }}" placeholder="Ingrediente" />
        </div>

    </div>

    <button type="button" class="buttons_ingredient">Adicionar novo ingrediente</button>

</article>

<article class="field_item">

    <h2>Modo de preparo</h2>

    <input name="recipe_making[]" value="{{ recipe.recipe_making }}" placeholder="Passo" />

    <button type="button" class="buttons_make">Adicionar novo passo</button>

</article>

<article class="field_item">

    <h2>Informações adicionais</h2>

    <textarea name="recipe_specs" cols="30" rows="10">{{ recipe.recipe_specs }}</textarea>

</article>

</form>