{% extends 'chefs/layout_chefs.njk' %}

{% block title %} <title>Recipe - show</title> {% endblock %}

{% block header %}

    <h1>Gerenciar receitas</h1>
    
{% endblock %}   

{% block content %}

    <article class="recipe_list">
    
        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>

        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>

        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>
    
        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>

        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>

        <div class="list_item">
        
            <div class="item_img" style="background: url(https://source.unsplash.com/collection/251966/172x80) no-repeat center center / cover"></div>

            <div class="item_info">
            
                <h3>Triplo bacon burger</h3>

                <p>por Jorge Relato</p>

                <button class="buttons">Visualizar</button>
            
            </div>
        
        </div>
    
    </article>

{% endblock %}