{% extends 'chefs/layout_chefs.njk' %}

{% block title %} <title>Recipe - show</title> {% endblock %}

{% block header %}

    <h1>Gerenciar receitas</h1>
    
{% endblock %}   

{% block content %}

    <article class="recipe_list">

        {% for recipe in recipes %}
    
            <div class="list_item">
            
                <div class="item_img" style="background: url({{ recipe.recipe_url }}172x80) no-repeat center center / cover"></div>

                <div class="item_info">
                
                    <h3>{{ recipe.title }}</h3>

                    <p>por {{ recipe.author }}</p>

                    <button class="buttons" id="view">Visualizar</button>
                
                </div>
            
            </div>

        {% endfor %}
    
    </article>

{% endblock %}